body {
    font-family: "arial", sans-serif;
    margin: 0.8em;
}

#logo {
    margin-bottom: 1em;
    width: 100%;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 1.4em;
    margin: 0.3em;
    margin-bottom: 0.6em;

}

#search-bar > * {
    margin-right: 0.8em;
    padding: 0.3em;

    border-radius: 20px;
}

.dailies {
    display: flex;
    overflow-x: scroll;

    width: 100%;
}

.daily {
    color: #444;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    
    padding: 0.5em;
    width: 100px;
}

.daily-temp {
    display: flex;
    justify-content: space-around;

    width: 70px;
}

.selected {
    background-color: #e9e9e9;
}

.report {
    display: flex;
    flex-direction: row;
}

.report-info {
    display: flex;
    flex-direction: column;
}

.daily-view {
    margin: 0.5em;
}