.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-time {
    display: none;
    border-radius: 10px;
    background-color: #999;
    padding: 5px;
    width: 150px;
}

.message {
    border-radius: 10px;
    background-color: #999;

    padding: 2%;

    position: relative;

    margin: 10px 0;
}

.message:hover > .message-time {
    display: block;
    position: absolute;
    left: 0;
    top: -15px;
}
