<div id="search-component">
    <label for="search-box"></label>
    <input 
        id="search-box" 
        #searchBox 
        type="text" 
        (input)="search(searchBox.value)"
    />

    <ul id="search-results">
        <li *ngFor="let hero of heroes$ | async">
            <a routerLink="/detail/{{ hero.id }}">{{ hero.name }}</a>
        </li>
    </ul>
</div>
