{% extends 'base.html.twig' %}

{% block title %} {{parent()}}Profile {% endblock %}

{% block body %}
    <h2>
        {{app.user}}
    </h2>

    <img src="{{asset(user_profile_pictures_dir ~ app.user.picture)}}" alt="Your Profile Picture">

    <a href="{{ path('profile_picture_modify') }}">Modify Picture</a>
    <a href="{{ path('profile_password_modify') }}">Modify Password</a>
{% endblock %}
