{% extends 'base.html.twig' %}

{% block title %} {{parent()}} Modify Picture{% endblock %}

{% block body %}

    <h1>Modify Picture</h1>

        {{ form_start(modifyPictureForm) }}
        {{ form_row(modifyPictureForm.pictureFile) }}
        {{ form_row(modifyPictureForm) }}
        <img hidden src="" id="preview" alt="Profile Picture Preview">
        <div hidden id="errorMessage" class="alert alert-danger"></div>
        
{% endblock %}

{% block javascripts %}
<script>
    let inputFile = document.getElementById('picture_modify_form_pictureFile');
    let preview = document.getElementById('preview');
    let errorMessage = document.getElementById('errorMessage');
    let acceptedTypes = ['image/png', 'image/jpeg', 'image/gif'];
    
    inputFile.addEventListener('change', () => {
        console.log(inputFile.files);
        let file = inputFile.files[0];

        if (acceptedTypes.includes(file.type)) {
            preview.src = window.URL.createObjectURL(file);
            preview.hidden = false;
            errorMessage.hidden = true;
        } else {
            preview.src = "";
            preview.hidden = true;
            errorMessage.textContent = "format non supporté";
            errorMessage.hidden = false;
        }
    });
</script>
{% endblock %}
