{% extends 'base.html.twig' %}

{% block title %} {{parent()}}Profile {% endblock %}

{% block body %}
    <h2>
        {{app.user}}
    </h2>

    <img src="{{ asset(user_profile_pictures_dir ~ app.user.picture) }}" alt="Your Profile Picture">

{% for article in user.articles %}
    <div>
        <a href="{{ path('view', {'id': article.id}) }}">{{article.title}}</a>
        posted at {{article.createdAt | date('Y-m-d H:i:s')}}
    </div>
{% endfor %}
{% endblock %}
