<form method="POST" action="traitement.php">
    <label for="num">
        Valeur à convertir
        <input name="num" type="number">
    </label>

    <select name="unit1">
        <option value="b/s">b/s</option>
        <option value="kb/s">kb/s</option>
        <option value="Mb/s">Mb/s</option>
        <option value="Gb/s">Gb/s</option>
        <option value="o/s">o/s</option>
        <option value="ko/s">ko/s</option>
        <option value="Mo/s">Mo/s</option>
        <option value="Go/s">Go/s</option>
    </select>
    <select name="unit2">
        <option value="b/s">b/s</option>
        <option value="kb/s">kb/s</option>
        <option value="Mb/s">Mb/s</option>
        <option value="Gb/s">Gb/s</option>
        <option value="o/s">o/s</option>
        <option value="ko/s">ko/s</option>
        <option value="Mo/s">Mo/s</option>
        <option value="Go/s">Go/s</option>
    </select>
    <input type="submit">
</form>
