body {
    font-family: 'poppins', sans-serif;

    margin: 0 1em;
    padding: 0 0.5em;

    display: flex;
    flex-direction: column;;
    justify-content: space-evenly;
}

.current {

    color: aliceblue;
    background-color: #457b9d;
    
    margin: 0.5em;

    text-align: center;

    border-radius: 12px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#dailyContainer {
    display: flex;
    flex-flow: row;

    overflow-x: scroll;

    height: 16em;
}

.daily {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #2e2e2e;
    background-color: aliceblue;
    
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    min-width: 100px;
    
    text-align: center;
    
    border-radius: 12px;
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.daily-temp {
    text-align: center;
    height: 2em;
    font-size: 1.8em;
}

.daily-icon {
    width: 6em;
    height: 6em;
}

#hourlyContainer {
    display: flex;
    flex-flow: row;

    overflow-x: scroll;

    height: 16em;
}

.hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #2e2e2e;
    background-color: aliceblue;
    
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
    min-width: 100px;
    
    text-align: center;
    
    border-radius: 12px;
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.hourly-temp {
    text-align: center;
    height: 2em;
    font-size: 1.8em;
}

.hourly-icon {
    width: 6em;
    height: 6em;
}

.selected {
    color: aliceblue;
    background-color: #457b9d;
}