body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

#users {
    display: flex;
    justify-content: space-evenly;
}

.user-card {
    text-align: center;

    width: 250px;

    margin: 1em;
}

.user-card-body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: sandybrown;

    margin: 0 1em;
    margin-top: -3em;

    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

.user-card-header {
    height: 175px;
    display: flex;
    align-items: flex-start;

    background-color: silver;
}

.user-card-header > * {
    margin: 0.5em;
}

.user-card-header > h2 {
    text-align: center;
    height: 90px;
}

.user-card-image {
    border-radius: 100%;
    width: 90px;

    margin: 1em;
}

.user-card-info {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.user-card-info > h4 {
    width: 90px;
    align-items: center;
}

.user-card-info > span {
    width: 120px;
    text-align: center;
}


/* #userGender {
    width: 3em;
    height: 3em;
} */