.container {
    display: flex;
    flex-direction: column;
}

.block {
    font-size: 2em;
    background-color: aliceblue;
    margin: 2%;
    height: 200px;
    width: 150px;
}

/* Pour les écrans de 468 px de largeur et plus, tablettes et téléphones haute résolution ou en paysage. */
@media screen and (min-width: 468px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .block {
        font-size: 4em;
        margin: 2%;
    }
}

/* Pour les écrans de pc et +. */
@media screen and (min-width: 992px) {
    
}