/* Dans le cas où l'on veuille imprimer une page, notre feuille de style CSS pourrait changer pour être plus print-friendly. */

.container {
    display: flex;
    flex-direction: column;
}

.block {
    font-size: 2em;
    margin: 2%;
    height: 200px;
    width: 150px;
    border: 1px solid bla
}