{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    {{ form_row(form.photoFile) }}
    {{ form_row(form.base) }}
    <div id="ingredient_fields">
        {% for ingredientField in form.ingredients %}
        {{ form_row(ingredientField) }}
        {% endfor %}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<button id="add_ingredient">
    +
</button>

<script type="application/javascript">
    let addIngredient = document.getElementById('add_ingredient');

    addIngredient.addEventListener('click', () => {
        let pizzaIngredients = document.getElementById('pizza_ingredients');
        let prototype = pizzaIngredients.getAttribute('data-prototype');

        let ingredientFields = document.getElementById('ingredient_fields');
        let ingredientCount = ingredientFields.childElementCount;
        prototype = prototype.replace(/__name__/g, ingredientCount);
        prototype = prototype.replace(/\d+label__/g, `ingredient ${ingredientCount + 1}`);

        let ingredientField = new DOMParser().parseFromString(prototype, 'text/html').body.firstChild;

        ingredientFields.appendChild(ingredientField);

        console.log(prototype);
        console.log(ingredientField);
    });
</script>