.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.button {
    background-color: rgb(248, 78, 106);
    border-radius: 40px;
}

.links li {
    padding: 20px;
    margin-right: 30px;
}

a {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    color: silver;
    list-style-type: none;
    text-decoration: none;
}

a:hover {
    font-size: 20px;
    padding: 20px;
    border-radius: 40px;
    background-color: rgba(100, 100, 100, 0.1);
}

.logo svg {
    height: 4rem;
}

.blog-nav li {
    text-decoration: none;
    list-style-type: none;
}

.blog-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 12px;
    margin-right: 30px;
}

.blog-links li {
    padding: 20px;
}

.big-image {
    margin: 0 1em;
    /**
    height: 200px;
    background-image: url('./hero-dogfooding.jpg');
    background-position: center;
    background-size: cover;
    **/
}

.big-image > img {
    border-radius: 10px;
    width: 100%;
}

main {
    background-color: rgb(233, 237, 240);
    margin: auto;
    padding-bottom: 1.5em;
}

article {
    width: 50%;
    margin: 1.5em auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

.call-to-action {
    width: 50%;
    margin: 1.5em auto;
    padding: 10px;
    font-size: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color:pink;
    background-color: indigo;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.call-to-action > span {
    padding: 0.8em;
    margin: 1em 1em;
}

.call-to-action > p {
    margin: 1em 1em;
}

.article-footer {
    width: 50%;
    margin: 1.5em auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    display: flex;
}

.article-footer > * {
    width: 50%;
    padding: 10px;
}

.autor ul {
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.2em;
}

.description {
    border-left: 1px solid silver;
}

.autor ul li a {
    color: pink;
}

.autor ul li {
}

.autor ul li a:hover {
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(100, 100, 100, 0.1);
}

.social-links li {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

.link-lists {
    display: flex;
    flex-wrap: row;
    align-items: space-around;
}

.link-lists li {
    list-style-type: none;
    text-decoration: none;
}