@media screen and (max-width: 468px) {

    body {
        margin: 0px;
    }

    .site-header {
        color: #f6f6f6;
        background-color: #F6B21F;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 0.9em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 100px;
        width: 100px;

        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1.6em;
    }

    .site-links {
        text-transform: uppercase;
        list-style-type: none;
        text-align: center;
        margin: 0 auto;
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-btn {
        font-weight: 600;
        text-decoration: none;
        list-style-type: none;
        text-align: center;
        padding: 0.6em;
        margin: 1.2em;
    }

    .contact-btn li a {
        color: #f6f6f6;
        background-color: #F6B21F;
        
        border: 3px solid #f6f6f6;
        border-radius: 2em;

        padding: 0.5em;

        text-transform: uppercase;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.15s;

    }

    .site-links li, .site-nav a {
        text-decoration: none;
        color: #f6f6f6;
        padding: 0.6em;
        margin: 0.5em 0;
    }

    .site-links a {
        color: #F6B21F;
        background-color: #f6f6f6;
        border-radius: 2em;
        transition: all 0.2s;
    }

    .contact-btn a:hover {
        color: #f6f6f6;
        background-color: #F6B21F;
        text-transform: uppercase;
        border: 3px solid #f6f6f6;
        border-radius: 2em;
        transition: all 0.15s;
    }

    h2 {
        width: 12em;
        margin: 1.2em auto;
        padding: 0.2em;
        color: #f6f6f6;
        background-color: #F6B21F;
        border-radius: 2em;
        font-family: 'Quicksand', 'Arial', sans-serif;
        text-transform: uppercase;
        text-align: center;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .dev-skills li {
        border: none;

        list-style-type: none;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    progress {
        background-color: white;

        height: 15px;
        width: 47%;

        box-sizing: border-box;

        margin-left: 10px;
        padding: 1px;
        
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 2em;

        box-shadow: 0 1px 1px rgba(0,0,0,0.1); 

    }

    progress::-moz-progress-bar {
        background: #F6B21F;
        border-radius: 2em;
    }

    progress::-webkit-progress-bar {
        background-color: white;

        height: 15px;
        width: 47%;

        box-sizing: border-box;

        margin-left: 10px;
        padding: 1px;
        
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 2em;

        box-shadow: 0 1px 1px rgba(0,0,0,0.1); 

    }
    
    progress::-webkit-progress-value {
        background: #F6B21F;
        border-radius: 2em;
    }

    article {
        width: 80%;
        margin: 0 auto;
    }
    .card {
        color: #333333;
        font-family: 'Quicksand', 'Arial',sans-serif;;
        font-size: 0.9em;
        background-color: whitesmoke;
        margin: 2.6em 0;
        padding: 1em 2em;
        border-radius: 0.5em;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .experiences img, .school img {
        border: 3px solid #F6B21F;
        border-radius: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills {
        text-align: center;
        margin: 0.6em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills ul {
        color: #333333;

        margin-left: 0;
        padding-left: 0;
    }

    .skills li {
        list-style-type:none;
    }

    h4 {
        color: #f6b21fe3;
        font-weight: 600;
        text-align: center;
        font-family: 'Work Sans', 'Arial', sans-serif;;
        margin: 0 auto;
        margin-top: 0.6em;
    }

    h5 {
        color: #505050;
        font-size: 0.9em;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        margin-top: 0.6em;
    }

    .experiences {
        margin: 0.8em 0;
    }

    .school {
        text-align:center;
        margin: 0.8em 0;
    }

    .school h4 {
        color: #333333;
    }

    img {
        margin: 0 auto;
    }

    aside {
        color: #333333;
        background-color: whitesmoke;
        font-family: 'Poppins', 'Arial', sans-serif;
        font-size: 0.9em;
        padding: 2em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    aside div {
        justify-content: space-between;
        align-items: center;
    }
    .photo {
        width: 120px;
        height: 120px;
        border: 5px solid #F6B21F;
        border-radius: 10em;
        display: flex;
    }

    .contact {
        padding-left: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact > * {
        margin: 0.4em;
    }

    .contact>p {
        margin-left: 0.4em;
    }

    .contact a {
        text-decoration: none;
    }

    .postal, .postal>p {
        font-size: 0.9em;
        margin: 0;

        display: flex;
        flex-direction: row;
    }

    .postal>img {
        height: 36px;
        width: 36px;
    }

    .postal p {
        margin-left: 0.4em;
    }

    .phone, .phone>img, .phone>p {
        font-size: 0.9em;
        margin: 0; 
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .phone p {
        margin-left: 0.4em;
    }

    .mail, .mail>a {
        font-size: 0.9em;
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    .mail>a:link {
        color:#f6f6f6;
        background-color: #F6B21F;
        padding: 1.2em;
        border-radius: 2em;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .mail>a:hover {
        color: #F6B21F;
        background-color: white;

        padding: 1.2em;

        border-radius: 2em;

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s;
    }

    .social-links {
        color: #333333;
        background-color: #f6f6f61c;
        font-family: 'Quicksand', 'Arial', sans-serif;
        font-size: 0.9em;
        margin: 0;
        padding: 0 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-links li {
        list-style-type: none;
    }

    .social-logos {
        display: flex;
        justify-content: flex-end;
    }

    .social-links span {
        font-size: 0.8em;
        color: #3333336b;
    }

}

/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
Blanc cassé #f6f6f6;
Orange #F6B21F;*/