@media screen and (min-width: 468px) {

    body {
        margin: 0px;
    }

    .site-header {
        color: #f6f6f6;
        background-color: #F6B21F;
        font-family: 'Poppins', Helvetica, sans-serif;
        font-size: 0.9em;

        padding: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 100px;
        width: 100px;
        
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 1.6em;
    }

    .site-links {
        text-transform: uppercase;
        list-style-type: none;
        text-align: center;

        margin: 0 auto;
        padding: 0.5em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .site-nav {
        display: flex;
        flex-direction: row;
    }

    .contact-btn {
        font-weight: 600;
        text-transform: uppercase;

        list-style-type: none;
        text-align: center;
        text-decoration: none;

        padding: 0.6em;
        margin: 1.2em;
    }

    .contact-btn li a {
        color: #f6f6f6;
        background-color: #F6B21F;
        
        text-decoration: none;

        border: 3px solid #f6f6f6;
        border-radius: 2em;

        padding: 0.4em;

        text-transform: uppercase;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.15s;
    }

    .site-links li {
        text-decoration: none;
        color: #f6f6f6;

        padding: 0.6em;
        margin: 0.5em 0;
    }

    .site-links a {
        color: #F6B21F;
        background-color: #f6f6f6;
        text-decoration: none;

        padding: 0.5em;

        border-radius: 2em;

        transition: all 0.2s;
    }

    h2 {
        width: 12em;

        margin: 1.2em auto;
        padding: 0.6em;

        color: #f6f6f6;
        background-color: #F6B21F;
        border-radius: 2em;
        font-family: 'Quicksand', 'Arial', sans-serif;

        text-transform: uppercase;
        text-align: center;

        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .dev-skills li {
        border-right: 1px solid #F6B21F;
    
        list-style-type: none;
    
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    progress {
        background-color: white;
    
        height: 15px;
        width: 52%;
        
        box-sizing: border-box;
    
        margin-left: 10px;
        padding: 1px;
            
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 2em;
        
        box-shadow: 0 1px 1px rgba(0,0,0,0.1); 
        
    }

    progress::-moz-progress-bar {
        background: #F6B21F;
        border-radius: 2em;
    }

    article {
        width: 80%;

        margin: 2.2em auto;

    }

    .card {
        color: #333333;
        font-family: 'Quicksand', 'Arial',sans-serif;;
        font-size: 0.9em;

        background-color: whitesmoke;

        margin-bottom: 0.8em;
        padding: 1em 1em;

        border-radius: 0.5em;

        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

    }

    .card .dev-skills, .card .other-skills {
        width: 60%;

        margin: 0 auto;
    }

    .experiences img, .school img {
        border: 3px solid #F6B21F;
        border-radius: 3em;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills {
        width: 60%;

        text-align: center;

        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills ul {
        margin-left: 0;
        padding-left: 0;
    }

    .skills li {
        list-style-type:none;
    }

    h4 {
        color: #F6B21F;
        text-align: center;
        font-family: 'Work Sans', 'Arial', sans-serif;;

        margin: 0 auto;
        margin-top: 0.6em;
    }

    h5 {
        font-size: 0.9em;

        text-align: center;
        text-transform: uppercase;

        margin: 0 auto;
        margin-top: 0.6em;

    }

    .experiences {
        width: 25%;

        margin: 0.8em auto;
    }

    .school {
        width: 25%;

        text-align:center;

        margin: 0 0.5em;
    }

    img {
        margin: 0 auto;
    }

    aside {
        color: #444444;
        background-color: whitesmoke;

        font-family: 'Poppins', 'Arial', sans-serif;
        font-size: 1.2em;

        padding: 2em;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    aside div {
        justify-content: space-between;
        align-items: center;
        
    }

    .photo {
        width: 200px;
        height: 200px;;

        border: 5px solid #F6B21F;
        border-radius: 10em;

        display: flex;
    }

    .contact {
        height: 13em;

        padding-left: 2.5em;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .contact>p {
        margin-left: 0.4em;
    }

    .postal, .postal>p {
        font-size: 0.9em;

        margin: 0;
        
        display: flex;
        flex-direction: row;
    }

    .postal>img {
        height: 36px;
        width: 36px;
    }

    .postal p {
        margin-left: 0.4em;
    }
    
    .phone, .phone>img, .phone>p {
        font-size: 0.9em;

        margin: 0; 

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .phone p {
        margin-left: 0.4em;
    }

    .mail, .mail>a {
        font-size: 0.9em;

        text-decoration: none;

        display: flex;
        flex-direction: row;
    }

    .mail>a:link {
        color:#f6f6f6;
        background-color: #F6B21F;

        padding: 1.2em;

        border-radius: 2em;

        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    .mail>a:hover {
        color: #F6B21F;
        background-color: white;
        
        padding: 1.2em;
    
        border-radius: 2em;
    
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

        transition: all 0.2s;
    }

    .social-links {
        color: #333333;
        background-color: #f6f6f61c;
        font-family: 'Quicksand', 'Arial', sans-serif;
        font-size: 1em;

        margin: 0;
        padding: 0 1.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .social-links li {
        list-style-type: none;
    }

    .social-logos {
        display: flex;
        justify-content: flex-end;
    }

    .social-links span {
        color: #3333336b;
    }

}