<h2>Create New Genre</h2>
<form [formGroup]="createForm" (ngSubmit)="create()">
    <input formControlName="name" type="text">
    <div *ngIf="formName.errors && (formName.dirty || formName.touched)">
        <span *ngIf="formName.errors.required"> 
            Genre Name is required 
        </span>
        <span *ngIf="formName.errors.maxlength">
            Genre Name must be under 30 chars
        </span>
        <span *ngIf="formName.errors.pattern">
            Genre Name can't be blank
        </span>
    </div>
    <button type="submit" [disabled]="!createForm.valid">Create</button>
</form>