{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
Index
{% endblock %}

{% block body %}
{% for article in articles %}
    <div class="card">
        <div class="card-header">
            <h2>
                {{article.title | title}}
            </h2>
        </div>
        <div class="card-body">
            <h5>
                Post at {{article.createdAt | date('Y/m/d h:i:s')}}
                By <a href="{{ path('profile_view', {'username': article.author}) }}">{{article.author}}</a>
            </h5>
            <p class="card-text">
                {{article.content | sanitize_html}}
            </p>
            <a class="btn btn-primary" href="{{ path('view', {id: article.id}) }}" >Read Article</a>
            {% if app.user and app.user == article.author %}
            <a class="btn btn-secondary" href="{{ path('update', {id: article.id}) }}">Update Article</a>
            <a class="btn btn-danger" href="{{ path('delete', {id: article.id}) }}">Delete Article</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}