{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
View Article
{% endblock %}

{% block body %}

<div class="card">
    <div class="card-header">
        <h2>
            {{article.title | title}}
        </h2>
    </div>
    <div class="card-body">
        <h5>
            Post at {{article.createdAt | date('Y/m/d h:i:s')}}
            By <a href="{{ path('profile_view', {'username': article.author}) }}"</a>
        </h5>
        <p class="card-text">
            {{article.content}}
        </p>
        {% if app.user and app.user == article.author %}
        <a class="btn btn-secondary" href="{{ path('update', {id: article.id}) }}">Update Article</a>
        <a class="btn btn-danger" href="{{ path('delete', {id: article.id}) }}">Delete Article</a>
        {% endif %}test
    </div>
</div>

{% endblock %}