<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm"
          (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="firstName">Prénom</label>
            <input id="firstName"
            type="text"
            class="form-control"
            formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Nom</label>
            <input id="lastName"
                   type="text"
                   class="form-control"
                   formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email"
                   type="text"
                   class="form-control"
                   formControlName="email">
        </div>
        <div class="form-group">
            <label for="drinkPreference">Quelle boisson préférez-vous ?</label>
            <select id="drinkPreference" 
                    name="drinkPreference" 
                    class="form-group"
                    formControlName="drinkPreference">
                <option value="Coca-cola">Coca-Cola</option>
                <option value="Pepsi">Pepsi</option>
            </select>
        </div>
        <div formControlName="hobbies">
            <h3>Vos hobbies</h3>
            <div class="form-group"
                 *ngFor="let hobbyControl of getHobbies().controls; let i = index">
                <input class="form-control" 
                       type="text"
                       [formControlName]="i">
            </div>
            <button class="btn btn-succes" 
                    type="submit"
                    (click)="onAddHobby()">Ajouter un hobby</button>
        </div>
        <button type="submit" 
                class="btn btn-primary"
                [disabled]="userForm.invalid">Soumettre</button>
    </form>
</div>