body {
    background-color: #f0f3f7;
}

.card {
    background-color: white;
    margin: 30px;
}

.card1 {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;

    width: 500px;

    display: flex;
}

.card1 .card-img {
    width: 20%;
}

.card1 .card-content > * {
    padding: 2%;
}

.card1 .card-content p {
    /* Un contenu moins important à l'écran est plus clair, pas plus petit.*/
    color: #111111ca;
}

.card1 .card-content span {
    /* Pour éclaicir un text, on peut baisser son opacité, cela a pour effet supplémentaire de conserver la teinte d'une couleur, et ainsi permettre au texte de mieux se fondre dans son conteneur. */
    color: #111111ca;
}

.card1 .card-content strong {
    color: #111111;
}

h2 {
    margin: 0;
}

.card1 .card-content section {
    /* Pour définir des sections d'un ensemble, on peut utilise des couleurs et des marges au lieu d'utiliser des bordures. */
    background-color: #e0e0e0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card1 .book-now {
    cursor: pointer;
    color: white;
    font-weight: 600;

    background-color: #69aaff;
    border: none;
    border-radius: 5px;

    padding: 10px;
}

.card1 .book-now:hover {
    background-color: #69aaffd6;
}

.card2 {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2 .card-content {
    display: flex;
    flex-direction: column;
}