<form method="POST" action="traitement.php">

    <label for="rayon">Rayon de la base</label>
    <input id="rayon" name="rayon" type="number">
    
    <label for="hauteur">Hauteur du cone</label>
    <input id="hauteur" name="hauteur" type="number">

    <label for="arrondi">Arrondir ?</label>
    <input id="arrondi" name="arrondi" type="checkbox">

    <input type="submit" value="Calculer Volume">
</form>
