body {
    margin: 1em;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#userSearch {
    background-color: aliceblue;
    font-size: 1em;
}

#userContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-start;
}

#userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1.2em;
    padding: 0.8em;
    width: 15%;
    height: 50%;

    background-color: antiquewhite;

    border-radius: 12px;
    box-shadow: 1px 1px 0.1 black;
}

#userTitle {
    display: flex;
    text-align: center;

    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}

#userImage {
    display: flex;
    justify-content: center;

    background-color: aliceblue;

    border-radius: 30px;
}

#male {
    fill: blue;
}

#female {
    fill: pink;
}

.userGender {
    fill: purple;

    width: 2em;
    height: 2em;
} 