<div *ngIf="genre">
    <span *ngIf="!editMode" (dblclick)="toggleEdit()">
        {{ genre.name }}
    </span>
    <form 
        *ngIf="formUpdate && editMode" 
        [formGroup]="formUpdate" 
        (ngSubmit)="update()"
    >
            <input (focusout)="toggleEdit()" appAutofocus formControlName="name" type="text"/>
            <button (mousedown)="update()">Update</button>
    </form>
</div>