<form *ngIf="formLogin" [formGroup]="formLogin" (ngSubmit)="login()">
    username:
    <input formControlName="username" type="text">
    <div *ngIf="username.invalid && (username.dirty || username.touched) ">
        Username is required
    </div>
    password:
    <input formControlName="password" type="password">
    <div *ngIf="password.invalid && (password.dirty || password.touched) ">
        Password is required
    </div>
    <button type="submit" [disabled]="formLogin.invalid">go</button>
</form>
