<form action="traitement.php" method="post">

    <label for="nbValeurs">
        Nombre de valeurs a generer
        <input type="number" name="nbValeurs" id="nbValeurs">
    </label>

    <label for="min">
        Valeur min
        <input type="number" name="min" id="min">
    </label>
    <label for="max">
        Valeur max
        <input type="number" name="max" id="max">
    </label>

    <input type="submit" value="Generer">

</form>
