<app-genre-create (onCreate)="created($event)"></app-genre-create>

<div *ngFor="let genre of genres">
    <a routerLink="/genre/{{ genre.id }}">
        {{ genre.name }}
    </a>
    <button (click)="delete(genre.id)">x</button>
</div>
