<!-- 
    Un formulaire HTML se définit à l'aide de la balise <form>
    On définit le type de requête (GET, POST...) ainsi que sa destiniation (l'url de traitement du formulaire)
    Si aucune destination n'est définie, c'est la page du formulaire qui doit s'en charger. 
-->
<!--
    method est la méthode HTTP utilisée, GET pour récupérer, POST pour envoyer, ACTION est la "destination" pur traitement.
-->
<form method="POST" action="form_result.php">
    <!--
        Pour récupérer les données côté client, il faut définir les différents champs de notre formulaire à l'aide de <input> et consort.
    -->
    <label for="nickname">Pseudo</label>
    <!-- Dans un label, l'attribut for est lié à l'id du champ input correspondant (côté client)
    L'attribut name sert à identifier la valeur lors du traitement du formulaire (côté serveur) -->
    <input id="nickname" name="nickname" type="text">

    <!-- Pour définir une liste déroulante, on peut utiliser <select> -->
    <select name="fruit" id="fruit">
        <!-- Permet de définir une liste de choix parmi lesquels seul un pourra être utilisé, chaque choix est défini dans une balise <option> -->
            <option value="fraise">Fraise</option> <!-- value est la valeur qu'on recevra lors du traitement du formulaire -->
            <option value="banane">Banane</option>
            <option value="pomme">Pomme</option>
            <option value="poire">Poire</option>
    </select>

    <!-- Pour définir une checkbox, on utilise type="checkbox" sur un champ input -->
    <label for="agree">Acceptez vous les conditions d'utilisation ? </label>
    <input type="checkbox" name="agree" id="agree">

    <!-- Pour envoyer le formulaire il faut un bouton d'envoi qui est également un input -->
    <!-- Lorsqu'on appuie sur le bouton submit, la page se redirige vers l'url du formulaire-->
    <input type="submit" value="Envoyer">
</form>