<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
         <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
                <label for="name">
                    Nom de l'appareil
                </label>
                <input id="name" 
                       name="name"
                       type="text"
                       class="form-control"
                       ngModel
                       required>
            </div>
            <div class="form-group">
                <label for="status">
                    État de l'appareil
                </label>
                <select id="status"
                        name="status"
                        class="form-control"
                        [ngModel]="defaultOnOff">
                    <option value="allumé">Allumé</option>
                    <option value="éteint">Éteint</option>
                </select>
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="form.invalid">Enregistrer</button>
         </form>
    </div>
</div>