html,
body,
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;
}

.blur {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -100;
    width: 150%;
    height: 150%;
    background-color: white;
}

main {
    height: 100%;
    width: 100%;
    background: url("./images/saad-chaudhry-v9qKtDuq9Lk-unsplash.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;

    transform-style: preserve-3d;
    transform-origin: top;
}

main.perspective {
    transform: perspective(400px) rotateX(-10deg);
}
nav {
    background-color: white;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    transition: all 0.3s ease-in;
    transform: translateY(50%);
}
#nav-list {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    background-color: white;
}

.nav-item {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    list-style: none;
    width: 30%;
}

nav.translated {
    box-shadow: 0 -100px 40px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-100%);
}
