.bloc {
    height: 150px;
    width: 150px;
    background-color: red;
    color: white;
    margin: 30px;
}

.bloc1 {
    transition: background-color 0.5s, width 1s;
}

.bloc1:hover {
    background-color: green;
    width: 300px;
}

.bloc2 {
    transition: transform 0.8s;
}

.bloc2:hover {
    transform: rotate(45deg) translate(120px, 40px);
}

.bloc3 {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bloc4 {
    margin-left: 200px;
    animation: rebond 1s infinite alternate cubic-bezier(.21,.6,.38,1);
}

@keyframes rebond {
    0% {
        transform: translateY(0);
    }
    /*33% {
        transform: translateY(0px);
    }*/
    100% {
        transform: translateY(-200px)
    }
}

.bloc5 {
    transition: all 1s;
    background-image: linear-gradient(blue, red);
    box-shadow: 5px 5px 10px black;
}

.bloc5:hover {
    transform: perspective(500px) rotate3d(1, 1, 1, 90deg);
}